.donut-background{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.coffee-donut-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    position: absolute;
    height: clamp(160px,39vw,39vw);
    width: 50vw;
    gap: 10%;
    /* border: 1px solid; */
}

.donut-block, .coffee-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: clamp(130px,13vw,13vw);
    width: clamp(130px,14vw,14vw);
    border: 5px solid #3e3232;;
    border-radius: 100%;
    padding: 1%;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.donut-block:hover, .coffee-block:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.donut-block:not(hover), .coffee-block:not(hover){
    transform: scale(1);
    transition: transform 0.3s ease;
}
.inner-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid;
    height: 90%;
    width: 90%;
}

.coffee{
    height: 70%;
    width: 70%;
}

/* need to fix along these lines downward*/
.choco-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    height: 100vh;
    width: 100vw;
    border: 1px solid;
}

.choco-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100vw;
    background-color:#e2dfd0;
    box-shadow: 2px -36px 36px -4px rgba(226,223,208,0.68);
-webkit-box-shadow: 2px -36px 36px -4px rgba(226,223,208,0.68);
-moz-box-shadow: 2px -36px 36px -4px rgba(226,223,208,0.68);
    /* border: 1px solid; */
}

/* .choco{
    height: 30vw;
    width: 200vw;
    border: 1px solid;
}

#choco-2{
    transform: scaleX(-1);
} */